## IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
netflix_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\New Dataset\netflix-rotten-tomatoes-metacritic-imdb.csv")
netflix_df.head()

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,...,2021-03-04,"Canal+, Sandrew Metronome",https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,NaN,NaN
1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,...,2021-03-04,"Film 4, Monumental Pictures, Lionsgate",https://www.netflix.com/watch/81041267,https://www.imdb.com/title/tt4193072,"When nerdy Johanna moves to London, things get...",2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BZGUyN2...,https://www.youtube.com/watch?v=eIbcxPy4okQ,YouTube
2,Centigrade,"Drama, Thriller",Thrillers,English,Movie,6.4,Canada,1-2 hour,Brendan Walsh,"Brendan Walsh, Daley Nixon",...,2021-03-04,NaN,https://www.netflix.com/watch/81305978,https://www.imdb.com/title/tt8945942,"Trapped in a frozen car during a blizzard, a p...",1720.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BODM2MD...,https://www.youtube.com/watch?v=0RvV7TNUlkQ,YouTube
3,ANNE+,Drama,"TV Dramas,Romantic TV Dramas,Dutch TV Shows",Turkish,Series,7.7,"Belgium,Netherlands",< 30 minutes,NaN,NaN,...,2021-03-04,NaN,https://www.netflix.com/watch/81336456,https://www.imdb.com/title/tt6132758,"Upon moving into a new place, a 20-something r...",1147.0,https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BNWRkMz...,NaN,NaN
4,Moxie,"Animation, Short, Drama","Social Issue Dramas,Teen Movies,Dramas,Comedie...",English,Movie,8.1,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,Stephen Irwin,NaN,...,2021-03-04,NaN,https://www.netflix.com/watch/81078393,https://www.imdb.com/title/tt2023611,Inspired by her moms rebellious past and a con...,63.0,https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BODYyNW...,NaN,NaN

In [75]:
netflix_df.columns

Index(['Title', 'Genre', 'Tags', 'Languages', 'Series or Movie',
       'Hidden Gem Score', 'Country Availability', 'Runtime', 'Director',
       'Writer', 'Actors', 'View Rating', 'IMDb Score',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice', 'Release Date',
       'Netflix Release Date', 'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site'],
      dtype='object')

In [76]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15480 entries, 0 to 15479
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  15480 non-null  object
 1   Genre                  13770 non-null  object
 2   Tags                   15413 non-null  object
 3   Languages              13545 non-null  object
 4   Series or Movie        15480 non-null  object
 5   Hidden Gem Score       13379 non-null  float64
 6   Country Availability   15461 non-null  object
 7   Runtime                15479 non-null  object
 8   Director               10772 non-null  object
 9   Writer                 11150 non-null  object
 10  Actors                 13555 non-null  object
 11  View Rating            8456 non-null   object
 12  IMDb Score             13381 non-null  float64
 13  Rotten Tomatoes Score  6382 non-null   float64
 14  Metacritic Score       4336 non-null   float64
 15  Awards Received        6075 non-null   float64
 16  Awards Nominated For   7661 non-null   float64
 17  Boxoffice              4007 non-null   object
 18  Release Date           13373 non-null  object
 19  Netflix Release Date   15480 non-null  object
 20  Production House       5149 non-null   object
 21  Netflix Link           15480 non-null  object
 22  IMDb Link              13177 non-null  object
 23  Summary                15471 non-null  object
 24  IMDb Votes             13379 non-null  float64
 25  Image                  15480 non-null  object
 26  Poster                 11842 non-null  object
 27  TMDb Trailer           7194 non-null   object
 28  Trailer Site           7194 non-null   object
dtypes: float64(7), object(22)
memory usage: 3.4+ MB

In [77]:
netflix_df.describe()

,Hidden Gem Score,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Received,Awards Nominated For,IMDb Votes
count,13379.000000,13381.000000,6382.000000,4336.000000,6075.000000,7661.000000,1.337900e+04
mean,5.937551,6.496054,59.523034,56.813653,8.764444,13.983161,4.272841e+04
std,2.250202,1.146910,26.999173,17.582545,18.311171,29.821052,1.257012e+05
min,0.600000,1.000000,0.000000,5.000000,1.000000,1.000000,5.000000e+00
25%,3.800000,5.800000,38.000000,44.000000,1.000000,2.000000,4.035000e+02
50%,6.800000,6.600000,64.000000,57.000000,3.000000,5.000000,2.322000e+03
75%,7.900000,7.300000,83.000000,70.000000,8.000000,12.000000,2.089050e+04
max,9.800000,9.700000,100.000000,100.000000,300.000000,386.000000,2.354197e+06

## Data Cleaning

### 1. Removing Unwanted Columns

In [78]:
unwanted_cols = ['Tags',
       'Hidden Gem Score','Director',
       'Writer', 'Actors',
       'Rotten Tomatoes Score', 'Metacritic Score', 'Awards Received',
       'Awards Nominated For', 'Boxoffice',
    'Production House', 'Netflix Link', 'IMDb Link',
       'Summary', 'IMDb Votes', 'Image', 'Poster', 'TMDb Trailer',
       'Trailer Site']
netflix_df.drop(columns=unwanted_cols,inplace=True)

In [79]:
netflix_df.head()

,Title,Genre,Languages,Series or Movie,Country Availability,Runtime,View Rating,IMDb Score,Release Date,Netflix Release Date
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",Series,Thailand,< 30 minutes,R,7.9,12 Dec 2008,2021-03-04
1,HOW TO BUILD A GIRL,Comedy,English,Movie,Canada,1-2 hour,R,5.8,08 May 2020,2021-03-04
2,Centigrade,"Drama, Thriller",English,Movie,Canada,1-2 hour,Unrated,4.3,28 Aug 2020,2021-03-04
3,ANNE+,Drama,Turkish,Series,"Belgium,Netherlands",< 30 minutes,NaN,6.5,01 Oct 2016,2021-03-04
4,Moxie,"Animation, Short, Drama",English,Movie,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,NaN,6.3,22 Sep 2011,2021-03-04

### 2. Handling Missing Values

In [80]:
netflix_df.isnull().sum()

Title                      0
Genre                   1710
Languages               1935
Series or Movie            0
Country Availability      19
Runtime                    1
View Rating             7024
IMDb Score              2099
Release Date            2107
Netflix Release Date       0
dtype: int64

In [81]:
# 1. Handle missing values in Languages column by replacing with most freq value
freq_lang = netflix_df.Languages.value_counts().index[0]
netflix_df['Languages'].fillna(freq_lang,inplace=True)

In [82]:
# 2. Handle missing values in IMDB score col by replacing it with median of the IMDB col
imdb_median = netflix_df['IMDb Score'].median()
netflix_df['IMDb Score'].fillna(imdb_median,inplace=True)

In [83]:
# 3. Handling missing values in Release Date col by replacing with the value 'Not Available'
netflix_df['Release Date'].fillna('23 Sep 1677',inplace=True)

In [84]:
# 4. Handling missing values in Genre col by replacing with the value 'Not Available'
netflix_df['Genre'].fillna('Not Available',inplace=True)

In [85]:
# 5. Handling missing values in Country Availability by dropping the rows using dropna()
netflix_df.dropna(subset=['Country Availability'],inplace=True)

In [86]:
# 6. Handling missing values in Runtime by dropping the rows using dropna()
netflix_df.dropna(subset=['Runtime'],inplace=True)

In [87]:
# 7. Handling missing values in View Rating by replacing with the value 'Not Rated'
netflix_df['View Rating'].fillna('Not Rated',inplace=True)

In [88]:
netflix_df.isnull().sum()

Title                   0
Genre                   0
Languages               0
Series or Movie         0
Country Availability    0
Runtime                 0
View Rating             0
IMDb Score              0
Release Date            0
Netflix Release Date    0
dtype: int64

## 5. Checking for Duplicate Values
* Duplicate Values - containing same records many times in the dataset.
* Dataset may contain duplicate values.
* It leads to inconsistency and affect our analysis.
* So that we should check and remove the duplicate values in the dataset.

In [89]:
duplicate_val = netflix_df.duplicated()

In [90]:
netflix_df[duplicate_val]

,Title,Genre,Languages,Series or Movie,Country Availability,Runtime,View Rating,IMDb Score,Release Date,Netflix Release Date
9779,Conflict: Saidai no Kousou I,"Action, Crime",Japanese,Movie,Japan,1-2 hour,Not Rated,6.6,28 May 2016,2017-06-30

In [91]:
netflix_df.drop_duplicates(keep='first',inplace=True)

In [92]:
netflix_df[duplicate_val]

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Title, Genre, Languages, Series or Movie, Country Availability, Runtime, View Rating, IMDb Score, Release Date, Netflix Release Date]
Index: []

In [93]:
netflix_df

,Title,Genre,Languages,Series or Movie,Country Availability,Runtime,View Rating,IMDb Score,Release Date,Netflix Release Date
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",Series,Thailand,< 30 minutes,R,7.9,12 Dec 2008,2021-03-04
1,HOW TO BUILD A GIRL,Comedy,English,Movie,Canada,1-2 hour,R,5.8,08 May 2020,2021-03-04
2,Centigrade,"Drama, Thriller",English,Movie,Canada,1-2 hour,Unrated,4.3,28 Aug 2020,2021-03-04
3,ANNE+,Drama,Turkish,Series,"Belgium,Netherlands",< 30 minutes,Not Rated,6.5,01 Oct 2016,2021-03-04
4,Moxie,"Animation, Short, Drama",English,Movie,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,Not Rated,6.3,22 Sep 2011,2021-03-04
...,...,...,...,...,...,...,...,...,...,...
15475,K-POP Extreme Survival,Not Available,English,Series,"South Korea,Argentina,United Kingdom,Australia...",< 30 minutes,Not Rated,6.6,23 Sep 1677,2015-04-14
15476,DreamWorks Shreks Swamp Stories,Not Available,English,Series,"Russia,Hong Kong,Hungary,Australia,South Korea...",< 30 minutes,Not Rated,6.6,23 Sep 1677,2015-04-14
15477,DreamWorks Happy Holidays from Madagascar,"Animation, Comedy, Family",English,Series,"Belgium,Switzerland,United States,Germany,Unit...",< 30 minutes,Not Rated,6.8,23 Sep 1677,2015-04-14
15478,DreamWorks Holiday Classics,"Animation, Comedy, Family",English,Series,"Belgium,Switzerland,Germany,Argentina,United K...",< 30 minutes,Unrated,6.4,23 Sep 1677,2015-04-14
15479,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,Series,"Belgium,Switzerland,Germany,United Kingdom,Fra...",< 30 minutes,TV-PG,6.2,23 Sep 1677,2015-04-14

## Formatting the Date columns - Release Date and Netflix Release Date

In [94]:
netflix_df['Netflix Release Date'] = pd.to_datetime(netflix_df['Netflix Release Date'])

In [95]:
netflix_df.dtypes

Title                           object
Genre                           object
Languages                       object
Series or Movie                 object
Country Availability            object
Runtime                         object
View Rating                     object
IMDb Score                     float64
Release Date                    object
Netflix Release Date    datetime64[ns]
dtype: object

In [96]:
netflix_df=netflix_df.reset_index()

In [97]:
netflix_df['Release Date']

0        12 Dec 2008
1        08 May 2020
2        28 Aug 2020
3        01 Oct 2016
4        22 Sep 2011
            ...
15454    23 Sep 1677
15455    23 Sep 1677
15456    23 Sep 1677
15457    23 Sep 1677
15458    23 Sep 1677
Name: Release Date, Length: 15459, dtype: object

In [98]:
from datetime import datetime

def date_format(inp):
    inp = datetime.strptime(inp,"%d %b %Y")
    inp = str(inp).split(' ')[0]
    return inp

In [99]:
for i in range(0,len(netflix_df['Release Date'])):
    netflix_df['Release Date'][i]=date_format(netflix_df['Release Date'][i])

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [100]:
netflix_df['Release Date'].value_counts()

1677-09-23    2105
2018-10-12      24
2017-09-01      24
2018-09-21      24
2019-04-12      23
              ...
2008-04-30       1
1969-06-26       1
2014-04-07       1
2018-11-03       1
1985-03-02       1
Name: Release Date, Length: 5311, dtype: int64

In [101]:
netflix_df['Release Date'] = pd.to_datetime(netflix_df['Release Date'])

In [102]:
netflix_df.dtypes

index                            int64
Title                           object
Genre                           object
Languages                       object
Series or Movie                 object
Country Availability            object
Runtime                         object
View Rating                     object
IMDb Score                     float64
Release Date            datetime64[ns]
Netflix Release Date    datetime64[ns]
dtype: object

In [103]:
netflix_df['Movie Released Year'] = ' '

In [104]:
for i in range(0,len(netflix_df['Release Date'])):
    netflix_df['Movie Released Year'][i] = netflix_df['Release Date'][i].year

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Formatting the values of Runtime Column

In [105]:
netflix_df['Runtime'].value_counts()

1-2 hour        9111
< 30 minutes    3991
> 2 hrs         2024
30-60 mins       333
Name: Runtime, dtype: int64

In [106]:
netflix_df['Runtime'].replace({'1-2 hour':120,'< 30 minutes':30,'> 2 hrs':180,'30-60 mins':60},inplace=True)

In [107]:
netflix_df['Runtime'].value_counts()

120    9111
30     3991
180    2024
60      333
Name: Runtime, dtype: int64

## Formatting the values of View Rating Column

In [108]:
netflix_df['View Rating'].replace({'NOT RATED':'Not Rated','UNRATED':'Unrated'},inplace=True)

In [109]:
netflix_df['View Rating'].value_counts()

Not Rated    8332
R            2094
PG-13        1369
TV-MA        1136
TV-14         797
PG            657
TV-PG         331
TV-Y          146
TV-Y7         130
G             126
TV-G          125
Unrated       118
TV-Y7-FV       33
Approved       22
Passed         17
NC-17           9
X               4
GP              4
E10+            2
MA-17           1
TV-13           1
M               1
M/PG            1
U               1
E               1
AL              1
Name: View Rating, dtype: int64

### Creating OTT column

In [111]:
netflix_df['OTT'] = 'Netflix'

## Saving the Netflix Cleaned File

In [112]:
netflix_df.to_csv('netflix cleaned data.csv')

## 2. Disney Plus Data

In [150]:
hotstar_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\New Dataset\disney_plus_shows.csv")
hotstar_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018â€“,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, GÃ©rard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [151]:
hotstar_df.columns

Index(['imdb_id', 'title', 'plot', 'type', 'rated', 'year', 'released_at',
       'added_at', 'runtime', 'genre', 'director', 'writer', 'actors',
       'language', 'country', 'awards', 'metascore', 'imdb_rating',
       'imdb_votes'],
      dtype='object')

In [152]:
hotstar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdb_id      894 non-null    object
 1   title        894 non-null    object
 2   plot         866 non-null    object
 3   type         894 non-null    object
 4   rated        742 non-null    object
 5   year         894 non-null    object
 6   released_at  874 non-null    object
 7   added_at     992 non-null    object
 8   runtime      838 non-null    object
 9   genre        885 non-null    object
 10  director     689 non-null    object
 11  writer       743 non-null    object
 12  actors       870 non-null    object
 13  language     865 non-null    object
 14  country      869 non-null    object
 15  awards       556 non-null    object
 16  metascore    292 non-null    float64
 17  imdb_rating  879 non-null    float64
 18  imdb_votes   879 non-null    object
dtypes: float64(2), object(17)
memory usage: 147.4+ KB

In [153]:
hotstar_df.describe()

        metascore  imdb_rating
count  292.000000   879.000000
mean    62.061644     6.656428
std     15.776455     1.020352
min     19.000000     1.500000
25%     51.000000     6.100000
50%     61.000000     6.700000
75%     73.000000     7.400000
max     99.000000     9.700000

## Data Cleaning - Hotstar Data

### 1. Removing Unwanted columns

In [154]:
unwanted_cols = ['imdb_id', 'plot','director', 'writer', 'actors',
       'awards', 'metascore',
       'imdb_votes']
hotstar_df.drop(columns=unwanted_cols,inplace=True)

In [155]:
hotstar_df.head()

,title,type,rated,year,released_at,added_at,runtime,genre,language,country,imdb_rating
0,10 Things I Hate About You,movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance","English, French",USA,7.3
1,101 Dalmatian Street,series,NaN,2018â€“,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",English,"UK, USA, Canada",6.2
2,101 Dalmatians,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family","English, Spanish","USA, UK",5.7
3,101 Dalmatians 2: Patch's London Adventure,movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical",English,USA,5.8
4,102 Dalmatians,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",English,"USA, UK",4.9

### 3. Handling Missing Values

In [156]:
hotstar_df.isnull().sum()

title           98
type            98
rated          250
year            98
released_at    118
added_at         0
runtime        154
genre          107
language       127
country        123
imdb_rating    113
dtype: int64

In [157]:
## 1. Hamdling missing values in title column by removing the rows using dropna
hotstar_df.dropna(subset=['title'],inplace=True)

In [158]:
hotstar_df.isnull().sum()

title            0
type             0
rated          152
year             0
released_at     20
added_at         0
runtime         56
genre            9
language        29
country         25
imdb_rating     15
dtype: int64

In [159]:
# 2. Handling missing values in Genre col by replacing with the value 'Not Available'
hotstar_df['genre'].fillna('Not Available',inplace=True)

In [160]:
# 3. Handle missing values in Languages column by replacing with most freq value
freq_lang = hotstar_df.language.value_counts().index[0]
hotstar_df['language'].fillna(freq_lang,inplace=True)

In [161]:
# 4. Handle missing values in IMDB rating col by replacing it with median of the IMDB col
imdb_rat_median = hotstar_df['imdb_rating'].median()
hotstar_df['imdb_rating'].fillna(imdb_rat_median,inplace=True)

In [162]:
hotstar_df.isnull().sum()

title            0
type             0
rated          152
year             0
released_at     20
added_at         0
runtime         56
genre            0
language         0
country         25
imdb_rating      0
dtype: int64

In [163]:
# 5. Handling missing values in country column by replacing it with most freq col
country_freq = hotstar_df['country'].value_counts().index[0]
hotstar_df.country.fillna(country_freq,inplace=True)

In [164]:
# 6. Handle missing values in runtime col by replacing it with median of the runtime col
hotstar_df['runtime']=hotstar_df['runtime'].str.replace('min','')

In [165]:
hotstar_df['runtime']=hotstar_df['runtime'].str.replace('h','')

In [166]:
# convert runtime col from string to numeric datatype
hotstar_df['runtime']=pd.to_numeric(hotstar_df['runtime'])
hotstar_df['runtime'].dtype

dtype('float64')

In [167]:
runtime_median = hotstar_df['runtime'].median()
hotstar_df['runtime'].fillna(runtime_median,inplace=True)

In [168]:
hotstar_df.isnull().sum()

title            0
type             0
rated          152
year             0
released_at     20
added_at         0
runtime          0
genre            0
language         0
country          0
imdb_rating      0
dtype: int64

In [169]:
# 7. Handling missing values rated col by replacing with the value 'Not Rated'
hotstar_df['rated'].fillna('Not Rated',inplace=True)

In [170]:
hotstar_df.isnull().sum()

title           0
type            0
rated           0
year            0
released_at    20
added_at        0
runtime         0
genre           0
language        0
country         0
imdb_rating     0
dtype: int64

In [171]:
# 8. Handling missing values in release date col by replacing with the date '01 Jan 1111'
hotstar_df['released_at'].fillna('23 Sep 1677',inplace=True)

In [172]:
hotstar_df.isnull().sum()

title          0
type           0
rated          0
year           0
released_at    0
added_at       0
runtime        0
genre          0
language       0
country        0
imdb_rating    0
dtype: int64

## 5. Checking for Duplicate Values
* Duplicate Values - containing same records many times in the dataset.
* Dataset may contain duplicate values.
* It leads to inconsistency and affect our analysis.
* So that we should check and remove the duplicate values in the dataset.

In [173]:
duplicate_values = hotstar_df.duplicated()
hotstar_df[duplicate_values]

Empty DataFrame
Columns: [title, type, rated, year, released_at, added_at, runtime, genre, language, country, imdb_rating]
Index: []

## Formatting the Date columns - Release Date and Hotstar Release Date

In [174]:
hotstar_df.dtypes

title           object
type            object
rated           object
year            object
released_at     object
added_at        object
runtime        float64
genre           object
language        object
country         object
imdb_rating    float64
dtype: object

In [175]:
hotstar_df=hotstar_df.reset_index()

In [176]:
from datetime import datetime

def date_format(inp):
    inp = datetime.strptime(inp,"%d %b %Y")
    inp = str(inp).split(' ')[0]
    return inp

In [177]:
# formatting released at column
for i in range(0,len(hotstar_df['released_at'])):
    hotstar_df['released_at'][i]=date_format(hotstar_df['released_at'][i])

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [178]:
def date_format_2(inp):
    inp = datetime.strptime(inp,"%B %d, %Y")
    inp = str(inp).split(' ')[0]
    return inp

In [179]:
for i in range(0,len(hotstar_df['added_at'])):
    hotstar_df['added_at'][i]=date_format_2(hotstar_df['added_at'][i])

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [180]:
hotstar_df['released_at'] = pd.to_datetime(hotstar_df['released_at'])

In [181]:
hotstar_df['added_at'] = pd.to_datetime(hotstar_df['added_at'])

In [182]:
hotstar_df.dtypes

index                   int64
title                  object
type                   object
rated                  object
year                   object
released_at    datetime64[ns]
added_at       datetime64[ns]
runtime               float64
genre                  object
language               object
country                object
imdb_rating           float64
dtype: object

# Creating movie release year column from released_at column.

In [206]:
hotstar_df['Movie Released Year'] = ' '

In [207]:
for i in range(0,len(hotstar_df['released_at'])):
    hotstar_df['Movie Released Year'][i] = hotstar_df['released_at'][i].year

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [208]:
hotstar_df

,index,title,type,rated,released_at,added_at,runtime,genre,language,country,imdb_rating,Movie Released Year
0,0,10 Things I Hate About You,movie,PG-13,1999-03-31,2019-11-12,97.0,"Comedy, Drama, Romance","English, French",USA,7.3,1999
1,1,101 Dalmatian Street,series,Not Rated,2019-03-25,2020-02-28,81.0,"Animation, Comedy, Family",English,"UK, USA, Canada",6.2,2019
2,2,101 Dalmatians,movie,G,1996-11-27,2019-11-12,103.0,"Adventure, Comedy, Crime, Family","English, Spanish","USA, UK",5.7,1996
3,3,101 Dalmatians 2: Patch's London Adventure,movie,G,2003-01-21,2019-11-12,74.0,"Animation, Adventure, Comedy, Family, Musical",English,USA,5.8,2003
4,4,102 Dalmatians,movie,G,2000-11-22,2019-11-12,100.0,"Adventure, Comedy, Family",English,"USA, UK",4.9,2000
...,...,...,...,...,...,...,...,...,...,...,...,...
889,987,Zapped,movie,TV-G,2014-06-23,2019-11-12,102.0,"Comedy, Family, Fantasy",English,"Canada, USA",5.1,2014
890,988,Zenon: Girl of the 21st Century,movie,TV-G,1999-01-23,2019-11-12,97.0,"Adventure, Comedy, Family, Sci-Fi",English,USA,6.4,1999
891,989,Zenon: The Zequel,movie,TV-G,2001-01-12,2019-11-12,100.0,"Comedy, Family, Adventure, Sci-Fi",English,"USA, New Zealand",5.9,2001
892,990,Zenon: Z3,movie,TV-G,2004-06-11,2019-11-12,81.0,"Adventure, Comedy, Family, Sci-Fi",English,USA,5.5,2004
893,991,Zootopia,movie,PG,2016-03-04,2019-11-12,108.0,"Animation, Adventure, Comedy, Crime, Family, M...",English,USA,8.0,2016

## Formatting the values of Rated Column

In [199]:
hotstar_df['rated'].replace({'NOT RATED':'Not Rated','UNRATED':'Unrated','PASSED':'Passed','APPROVED':'Approved'},inplace=True)

In [200]:
hotstar_df['rated'].value_counts()

G            207
Not Rated    169
PG           155
TV-G         132
Approved      60
TV-PG         41
TV-Y7         41
PG-13         37
TV-Y          34
Passed         6
Unrated        5
TV-14          4
TV-Y7-FV       3
Name: rated, dtype: int64

### Drop Year Column from the hotstar table

In [204]:
hotstar_df.drop(columns=['year'],inplace=True)

In [209]:
hotstar_df

,index,title,type,rated,released_at,added_at,runtime,genre,language,country,imdb_rating,Movie Released Year
0,0,10 Things I Hate About You,movie,PG-13,1999-03-31,2019-11-12,97.0,"Comedy, Drama, Romance","English, French",USA,7.3,1999
1,1,101 Dalmatian Street,series,Not Rated,2019-03-25,2020-02-28,81.0,"Animation, Comedy, Family",English,"UK, USA, Canada",6.2,2019
2,2,101 Dalmatians,movie,G,1996-11-27,2019-11-12,103.0,"Adventure, Comedy, Crime, Family","English, Spanish","USA, UK",5.7,1996
3,3,101 Dalmatians 2: Patch's London Adventure,movie,G,2003-01-21,2019-11-12,74.0,"Animation, Adventure, Comedy, Family, Musical",English,USA,5.8,2003
4,4,102 Dalmatians,movie,G,2000-11-22,2019-11-12,100.0,"Adventure, Comedy, Family",English,"USA, UK",4.9,2000
...,...,...,...,...,...,...,...,...,...,...,...,...
889,987,Zapped,movie,TV-G,2014-06-23,2019-11-12,102.0,"Comedy, Family, Fantasy",English,"Canada, USA",5.1,2014
890,988,Zenon: Girl of the 21st Century,movie,TV-G,1999-01-23,2019-11-12,97.0,"Adventure, Comedy, Family, Sci-Fi",English,USA,6.4,1999
891,989,Zenon: The Zequel,movie,TV-G,2001-01-12,2019-11-12,100.0,"Comedy, Family, Adventure, Sci-Fi",English,"USA, New Zealand",5.9,2001
892,990,Zenon: Z3,movie,TV-G,2004-06-11,2019-11-12,81.0,"Adventure, Comedy, Family, Sci-Fi",English,USA,5.5,2004
893,991,Zootopia,movie,PG,2016-03-04,2019-11-12,108.0,"Animation, Adventure, Comedy, Crime, Family, M...",English,USA,8.0,2016

## Saving the Hotstar Cleaned File

In [210]:
hotstar_df.to_csv('hotstar cleaned data.csv')

## Amazon Prime Data

In [2]:
prime_mov_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\New Dataset\OTT_final_data.csv")
prime_mov_df

,Unnamed: 0,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
0,0,Inception,2010,13+,8.8,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,Netflix
1,1,The Matrix,1999,18+,8.7,"Action,Sci-Fi",United States,English,136.0,Netflix
2,2,Avengers: Infinity War,2018,13+,8.5,"Action,Adventure,Sci-Fi",United States,English,149.0,Netflix
3,3,Back to the Future,1985,7+,8.5,"Adventure,Comedy,Sci-Fi",United States,English,116.0,Netflix
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,Western,"Italy,Spain,West Germany",Italian,161.0,Netflix
...,...,...,...,...,...,...,...,...,...,...
16458,16739,The Ghosts of Buxley Hall,1980,18+,6.2,"Comedy,Family,Fantasy,Horror",United States,English,120.0,Disney+
16459,16740,The Poof Point,2001,7+,4.7,"Comedy,Family,Sci-Fi",United States,English,90.0,Disney+
16460,16741,Sharks of Lost Island,2013,18+,5.7,Documentary,United States,English,92.0,Disney+
16461,16742,Man Among Cheetahs,2017,18+,6.6,Documentary,United States,English,92.0,Disney+
16462,16743,In Beaver Valley,1950,18+,6.1,"Documentary,Short,Family",United States,English,32.0,Disney+

In [3]:
prime_mov_df.OTT.value_counts()

Prime Video    11591
Netflix         3469
Hulu             871
Disney+          532
Name: OTT, dtype: int64

In [4]:
prime_mov_df2 = prime_mov_df[prime_mov_df['OTT']=='Prime Video'].copy()
prime_mov_df2.head()

,Unnamed: 0,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
4340,4438,The Avengers,2012,13+,8.0,"Action,Adventure,Sci-Fi",United States,"English,Russian,Hindi",143.0,Prime Video
4341,4439,It's a Wonderful Life,1946,7+,8.6,"Drama,Family,Fantasy",United States,"English,French",130.0,Prime Video
4342,4440,Downfall,2004,18+,8.2,"Biography,Drama,History,War","Germany,Austria,Italy","French,English,German,Russian",156.0,Prime Video
4343,4441,Sunset Boulevard,1950,18+,8.4,"Drama,Film-Noir",United States,English,110.0,Prime Video
4344,4442,Airplane!,1980,7+,7.7,Comedy,United States,English,88.0,Prime Video

In [8]:
prime_mov_df2.drop(columns=['Unnamed: 0'],inplace=True)

In [10]:
prime_mov_df2.head()

,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
4340,The Avengers,2012,13+,8.0,"Action,Adventure,Sci-Fi",United States,"English,Russian,Hindi",143.0,Prime Video
4341,It's a Wonderful Life,1946,7+,8.6,"Drama,Family,Fantasy",United States,"English,French",130.0,Prime Video
4342,Downfall,2004,18+,8.2,"Biography,Drama,History,War","Germany,Austria,Italy","French,English,German,Russian",156.0,Prime Video
4343,Sunset Boulevard,1950,18+,8.4,"Drama,Film-Noir",United States,English,110.0,Prime Video
4344,Airplane!,1980,7+,7.7,Comedy,United States,English,88.0,Prime Video

In [11]:
prime_mov_df2 = prime_mov_df2.reset_index()

In [14]:
prime_mov_df2.drop(columns=['index'],inplace=True)

In [15]:
prime_mov_df2.head()

,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
0,The Avengers,2012,13+,8.0,"Action,Adventure,Sci-Fi",United States,"English,Russian,Hindi",143.0,Prime Video
1,It's a Wonderful Life,1946,7+,8.6,"Drama,Family,Fantasy",United States,"English,French",130.0,Prime Video
2,Downfall,2004,18+,8.2,"Biography,Drama,History,War","Germany,Austria,Italy","French,English,German,Russian",156.0,Prime Video
3,Sunset Boulevard,1950,18+,8.4,"Drama,Film-Noir",United States,English,110.0,Prime Video
4,Airplane!,1980,7+,7.7,Comedy,United States,English,88.0,Prime Video

## Add Type column to the table

In [16]:
prime_mov_df2['Type'] = 'Movie'

In [17]:
prime_mov_df2.head()

,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT,Type
0,The Avengers,2012,13+,8.0,"Action,Adventure,Sci-Fi",United States,"English,Russian,Hindi",143.0,Prime Video,Movie
1,It's a Wonderful Life,1946,7+,8.6,"Drama,Family,Fantasy",United States,"English,French",130.0,Prime Video,Movie
2,Downfall,2004,18+,8.2,"Biography,Drama,History,War","Germany,Austria,Italy","French,English,German,Russian",156.0,Prime Video,Movie
3,Sunset Boulevard,1950,18+,8.4,"Drama,Film-Noir",United States,English,110.0,Prime Video,Movie
4,Airplane!,1980,7+,7.7,Comedy,United States,English,88.0,Prime Video,Movie

## Format the values of the Age column

In [18]:
prime_mov_df2.Age.value_counts()

18+    9411
7+      862
13+     721
all     385
16+     212
Name: Age, dtype: int64

In [28]:
prime_mov_df2['Age'].replace({'18+':'NC-17','7+':'PG','13+':'PG-13','all':'G','16+':'R'},inplace=True)

In [29]:
prime_mov_df2.Age.value_counts()

NC-17    9411
PG        862
PG-13     721
G         385
R         212
Name: Age, dtype: int64

In [34]:
prime_mov_df2.to_csv('Prime cleaned data.csv')

## Amazon Prime Tv Shows Data

In [80]:
prime_tv_df = pd.read_csv(r'I:\IBM Hack Challenge - OTT Analysis\New Dataset\Prime TV Shows Data set (1).csv',encoding="ISO-8859-1")
prime_tv_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+

In [81]:
prime_tv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.no.                    404 non-null    int64
 1   Name of the show         393 non-null    object
 2   Year of release          393 non-null    float64
 3   No of seasons available  393 non-null    float64
 4   Language                 393 non-null    object
 5   Genre                    393 non-null    object
 6   IMDb rating              182 non-null    float64
 7   Age of viewers           393 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 25.4+ KB

In [82]:
prime_tv_df.describe()

            S.no.  Year of release  No of seasons available  IMDb rating
count  404.000000       393.000000               393.000000   182.000000
mean   202.500000      2011.279898                 2.608142     7.354396
std    116.769003        12.944861                 2.592008     0.959372
min      1.000000      1926.000000                 1.000000     3.700000
25%    101.750000      2011.000000                 1.000000     6.900000
50%    202.500000      2016.000000                 2.000000     7.500000
75%    303.250000      2018.000000                 3.000000     8.100000
max    404.000000      2020.000000                20.000000     9.000000

## Data Cleaning - Amazon Prime Series Data

### Removing Unwanted Columns

In [83]:
prime_tv_df.drop(columns=['S.no.','No of seasons available'],inplace=True)

In [84]:
prime_tv_df.head()

,Name of the show,Year of release,Language,Genre,IMDb rating,Age of viewers
0,Pataal Lok,2020.0,Hindi,Drama,7.5,18+
1,Upload,2020.0,English,Sci-fi comedy,8.1,16+
2,The Marvelous Mrs. Maisel,2017.0,English,"Drama, Comedy",8.7,16+
3,Four More Shots Please,2019.0,Hindi,"Drama, Comedy",5.3,18+
4,Fleabag,2016.0,English,Comedy,8.7,18+

### Handling Missing Values

In [85]:
## Handling missing values in IMDB rating column by replacing it with median of the IMDB col
prime_tv_df['IMDb rating'].fillna(prime_tv_df['IMDb rating'].median(),inplace=True)

In [86]:
prime_tv_df.isnull().sum()

Name of the show    11
Year of release     11
Language            11
Genre               11
IMDb rating          0
Age of viewers      11
dtype: int64

In [87]:
prime_tv_df.dropna(axis=0,inplace=True)

In [88]:
prime_tv_df.isnull().sum()

Name of the show    0
Year of release     0
Language            0
Genre               0
IMDb rating         0
Age of viewers      0
dtype: int64

### Format the values of Age of Viewers column

In [89]:
prime_tv_df['Age of viewers'].value_counts()

16+    150
18+     79
13+     69
All     67
7+      28
Name: Age of viewers, dtype: int64

In [90]:
prime_tv_df['Age of viewers'].replace({'18+':'NC-17','7+':'PG','13+':'PG-13','All':'G','16+':'R'},inplace=True)

In [91]:
prime_tv_df['Age of viewers'].value_counts()

R        150
NC-17     79
PG-13     69
G         67
PG        28
Name: Age of viewers, dtype: int64

In [97]:
### Change the datatype of the year to int
prime_tv_df['Year of release']=prime_tv_df['Year of release'].astype('int')

In [98]:
prime_tv_df

,Name of the show,Year of release,Language,Genre,IMDb rating,Age of viewers
0,Pataal Lok,2020,Hindi,Drama,7.5,NC-17
1,Upload,2020,English,Sci-fi comedy,8.1,R
2,The Marvelous Mrs. Maisel,2017,English,"Drama, Comedy",8.7,R
3,Four More Shots Please,2019,Hindi,"Drama, Comedy",5.3,NC-17
4,Fleabag,2016,English,Comedy,8.7,NC-17
...,...,...,...,...,...,...
388,Chris Tall Presents,2019,Deutsch,Comedy,7.5,R
389,Short Poppies,2014,English,Comedy,7.5,PG-13
390,The 2018 Rose Parade Hosted by Cord & Tish,2018,English,Comedy,7.5,G
391,Aliens Love Underpants And,2017,English,Kids,7.5,G
392,Gina Brillon: The Floor is Lava,2020,English,Comedy,7.5,R

In [102]:
prime_tv_df['Type']='Series'

In [103]:
prime_tv_df['Language'].value_counts()

English       314
Hindi          39
Japanese       13
Italiano        7
Spanish         6
Deutsch         2
Nederlands      2
Marathi         2
Serbian         2
French          2
Telugu          1
Hebrew          1
Suomi           1
Russian         1
Name: Language, dtype: int64

In [104]:
prime_tv_df = prime_tv_df.reset_index()

In [105]:
prime_tv_df['Country']=''

In [106]:
for i in range(0,len(prime_tv_df)):
    if prime_tv_df['Language'][i]=='English':
        prime_tv_df['Country'][i] ='USA'
    elif prime_tv_df['Language'][i]=='Hindi' or prime_tv_df['Language'][i]=='Marathi' or prime_tv_df['Language'][i]=='Telugu':
        prime_tv_df['Country'][i] ='India'
    elif prime_tv_df['Language'][i]=='Japanese':
        prime_tv_df['Country'][i] ='Japan'
    elif prime_tv_df['Language'][i]=='Italiano':
        prime_tv_df['Country'][i] ='Italy'
    elif prime_tv_df['Language'][i]=='Spanish':
        prime_tv_df['Country'][i] ='Spain'
    elif prime_tv_df['Language'][i]=='Deutsch':
        prime_tv_df['Country'][i] ='Germany'
    elif prime_tv_df['Language'][i]=='Nederlands':
        prime_tv_df['Country'][i] ='Netherland'
    elif prime_tv_df['Language'][i]=='Serbian':
        prime_tv_df['Country'][i] ='Serbia'
    elif prime_tv_df['Language'][i]=='French':
        prime_tv_df['Country'][i] ='France'
    elif prime_tv_df['Language'][i]=='Spanish':
        prime_tv_df['Country'][i] ='Spain'
    elif prime_tv_df['Language'][i]=='Hebrew':
        prime_tv_df['Country'][i] ='Israel'
    elif prime_tv_df['Language'][i]=='Suomi':
        prime_tv_df['Country'][i] ='Finland'
    elif prime_tv_df['Language'][i]=='Russian':
        prime_tv_df['Country'][i] ='Russia'

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [108]:
prime_tv_df['Country'].value_counts()

USA           314
India          42
Japan          13
Italy           7
Spain           6
Netherland      2
Germany         2
Serbia          2
France          2
Finland         1
Russia          1
Israel          1
Name: Country, dtype: int64

In [109]:
prime_tv_df.to_csv('prime tv cleaned data.csv')

## 4.HULU Movies Data

In [2]:
hulu_mov_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\New Dataset\OTT_final_data.csv")
hulu_mov_df

,Unnamed: 0,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
0,0,Inception,2010,13+,8.8,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,Netflix
1,1,The Matrix,1999,18+,8.7,"Action,Sci-Fi",United States,English,136.0,Netflix
2,2,Avengers: Infinity War,2018,13+,8.5,"Action,Adventure,Sci-Fi",United States,English,149.0,Netflix
3,3,Back to the Future,1985,7+,8.5,"Adventure,Comedy,Sci-Fi",United States,English,116.0,Netflix
4,4,"The Good, the Bad and the Ugly",1966,18+,8.8,Western,"Italy,Spain,West Germany",Italian,161.0,Netflix
...,...,...,...,...,...,...,...,...,...,...
16458,16739,The Ghosts of Buxley Hall,1980,18+,6.2,"Comedy,Family,Fantasy,Horror",United States,English,120.0,Disney+
16459,16740,The Poof Point,2001,7+,4.7,"Comedy,Family,Sci-Fi",United States,English,90.0,Disney+
16460,16741,Sharks of Lost Island,2013,18+,5.7,Documentary,United States,English,92.0,Disney+
16461,16742,Man Among Cheetahs,2017,18+,6.6,Documentary,United States,English,92.0,Disney+
16462,16743,In Beaver Valley,1950,18+,6.1,"Documentary,Short,Family",United States,English,32.0,Disney+

In [3]:
hulu_mov_df2 = hulu_mov_df[hulu_mov_df.OTT=='Hulu'].copy()

In [4]:
hulu_mov_df2

,Unnamed: 0,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT
3469,3560,The Dark Knight,2008,13+,9.0,"Action,Crime,Drama,Thriller","United States,United Kingdom","English,Mandarin",152.0,Hulu
3470,3561,GoodFellas,1990,18+,8.7,"Biography,Crime,Drama",United States,"English,Italian",146.0,Hulu
3471,3562,Parasite,2019,18+,8.6,"Comedy,Drama,Thriller",South Korea,"Korean,English",132.0,Hulu
3472,3563,Good Will Hunting,1997,18+,8.3,"Drama,Romance",United States,English,126.0,Hulu
3473,3564,The Green Mile,1999,18+,8.6,"Crime,Drama,Fantasy,Mystery",United States,"English,French",189.0,Hulu
...,...,...,...,...,...,...,...,...,...,...
4335,4432,Alien Contact,2020,18+,6.1,Documentary,United States,English,75.0,Hulu
4336,4433,"New Year, New You",2017,18+,6.1,"Short,Comedy",United States,English,92.0,Hulu
4337,4434,Christmas Crush,2012,18+,6.1,Comedy,Canada,English,87.0,Hulu
4338,4435,The Damned (2013),2014,18+,6.1,"Horror,Mystery,Thriller",United States,"English,Spanish",87.0,Hulu
4339,4437,Legend of Heroes: Trails in the Sky,2011,13+,6.1,Adventure,Japan,Japanese,92.0,Hulu

In [5]:
hulu_mov_df2=hulu_mov_df2.reset_index()

In [6]:
hulu_mov_df2.drop(columns=['Unnamed: 0'],inplace=True)

In [11]:
hulu_mov_df2['Type'] = 'Movie'

In [8]:
hulu_mov_df2['Age'].replace({'18+':'NC-17','7+':'PG','13+':'PG-13','all':'G','16+':'R'},inplace=True)

In [9]:
hulu_mov_df2['Age'].value_counts()

NC-17    589
PG-13    114
PG       104
G         47
R         17
Name: Age, dtype: int64

In [10]:
hulu_mov_df2.dtypes

index         int64
Title        object
Year          int64
Age          object
IMDb        float64
Genres       object
Country      object
Language     object
Runtime     float64
OTT          object
Type         object
dtype: object

In [12]:
hulu_mov_df2

,index,Title,Year,Age,IMDb,Genres,Country,Language,Runtime,OTT,Type
0,3469,The Dark Knight,2008,PG-13,9.0,"Action,Crime,Drama,Thriller","United States,United Kingdom","English,Mandarin",152.0,Hulu,Movie
1,3470,GoodFellas,1990,NC-17,8.7,"Biography,Crime,Drama",United States,"English,Italian",146.0,Hulu,Movie
2,3471,Parasite,2019,NC-17,8.6,"Comedy,Drama,Thriller",South Korea,"Korean,English",132.0,Hulu,Movie
3,3472,Good Will Hunting,1997,NC-17,8.3,"Drama,Romance",United States,English,126.0,Hulu,Movie
4,3473,The Green Mile,1999,NC-17,8.6,"Crime,Drama,Fantasy,Mystery",United States,"English,French",189.0,Hulu,Movie
...,...,...,...,...,...,...,...,...,...,...,...
866,4335,Alien Contact,2020,NC-17,6.1,Documentary,United States,English,75.0,Hulu,Movie
867,4336,"New Year, New You",2017,NC-17,6.1,"Short,Comedy",United States,English,92.0,Hulu,Movie
868,4337,Christmas Crush,2012,NC-17,6.1,Comedy,Canada,English,87.0,Hulu,Movie
869,4338,The Damned (2013),2014,NC-17,6.1,"Horror,Mystery,Thriller",United States,"English,Spanish",87.0,Hulu,Movie
870,4339,Legend of Heroes: Trails in the Sky,2011,PG-13,6.1,Adventure,Japan,Japanese,92.0,Hulu,Movie

In [13]:
hulu_mov_df2.drop(columns=['index'],inplace=True)

In [15]:
hulu_mov_df2.to_csv('Hulu movies cleaned data.csv')

## Hulu Series Dataset

In [35]:
hulu_series_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\tv_shows.csv")
hulu_series_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [36]:
hulu_series_df2=hulu_series_df[hulu_series_df['Hulu']==1]

In [37]:
hulu_series_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1621 entries, 2 to 5247
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1621 non-null   int64
 1   ID               1621 non-null   int64
 2   Title            1621 non-null   object
 3   Year             1621 non-null   int64
 4   Age              1217 non-null   object
 5   IMDb             1418 non-null   object
 6   Rotten Tomatoes  1621 non-null   object
 7   Netflix          1621 non-null   int64
 8   Hulu             1621 non-null   int64
 9   Prime Video      1621 non-null   int64
 10  Disney+          1621 non-null   int64
 11  Type             1621 non-null   int64
dtypes: int64(8), object(4)
memory usage: 164.6+ KB

In [38]:
len(hulu_series_df)

5368

In [39]:
len(hulu_series_df2)

1621

## Data Cleaning - Hulu Series Data

### 1. Removing Unwanted Columns

In [40]:
hulu_series_df2.columns

Index(['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],
      dtype='object')

In [41]:
hulu_series_df2.drop(columns=['Unnamed: 0', 'ID','Rotten Tomatoes',
       'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'],inplace=True)

C:\Users\Suren\anaconda3\anaconda3.0\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [42]:
hulu_series_df2.head()

                               Title  Year  Age    IMDb
2                    Attack on Titan  2013  18+  9.0/10
11                         Community  2009   7+  8.5/10
13                         Shameless  2011  18+  8.5/10
25  Fullmetal Alchemist: Brotherhood  2009  16+  9.1/10
29                    Grey's Anatomy  2005  16+  7.5/10

In [43]:
hulu_series_df2 = hulu_series_df2.reset_index()

### 2. Handling Missing Values

In [44]:
hulu_series_df2.isnull().sum()

index      0
Title      0
Year       0
Age      404
IMDb     203
dtype: int64

In [45]:
## 1. Handling missing values in Age column
age_freq_value = hulu_series_df2.Age.value_counts().index[0]
hulu_series_df2.Age.fillna(age_freq_value,inplace=True)

In [46]:
hulu_series_df2.isnull().sum()

index      0
Title      0
Year       0
Age        0
IMDb     203
dtype: int64

In [61]:
## 2. Handling Missing values in IMDB column
hulu_series_df2.IMDb = hulu_series_df2.IMDb.str.replace('/10','')
hulu_imdb_median = hulu_series_df2.IMDb.median()
hulu_series_df2.IMDb.fillna(hulu_imdb_median,inplace=True)

In [62]:
hulu_series_df2.IMDb.unique()

array(['9.0', '8.5', '9.1', '7.5', '8.7', '8.0', '8.6', '8.8', '7.8',
       '8.1', '8.3', '8.4', '7.2', '6.8', '7.3', '7.7', '7.9', '7.6',
       '8.2', '6.6', '6.7', '6.2', '7.1', '7.4', '7.0', '6.4', '6.5',
       '5.5', '3.4', '6.3', '5.9', '6.1', '6.9', '5.0', '5.8', '4.6', 7.3,
       '5.7', '5.6', '6.0', '4.9', '9.2', '8.9', '9.3', '5.2', '5.3',
       '5.1', '5.4', '4.7', '4.5', '4.3', '2.8', '4.4', '3.6', '4.1',
       '3.2', '4.8', '4.0', '2.3', '4.2', '2.5', '3.1', '1.8', '3.7',
       '3.5', '3.0', '2.6', '1.9', '1.5', '3.3', '2.9', '3.8', '2.4'],
      dtype=object)

In [63]:
hulu_series_df2.isnull().sum()

index    0
Title    0
Year     0
Age      0
IMDb     0
dtype: int64

### Format the Age column

In [64]:
hulu_series_df2.Age.value_counts()

16+    905
7+     325
18+    261
all    124
13+      6
Name: Age, dtype: int64

In [66]:
hulu_series_df2['Age'].replace({'18+':'NC-17','7+':'PG','13+':'PG-13','all':'G','16+':'R'},inplace=True)

In [67]:
hulu_series_df2.Age.value_counts()

R        905
PG       325
NC-17    261
G        124
PG-13      6
Name: Age, dtype: int64

In [68]:
hulu_series_df2.head()

   index                             Title  Year    Age IMDb
0      2                   Attack on Titan  2013  NC-17  9.0
1     11                         Community  2009     PG  8.5
2     13                         Shameless  2011  NC-17  8.5
3     25  Fullmetal Alchemist: Brotherhood  2009      R  9.1
4     29                    Grey's Anatomy  2005      R  7.5

In [69]:
hulu_series_df2['Type'] = 'Series'
hulu_series_df2['OTT'] = 'Hulu'
hulu_series_df2['Runtime'] = 60
hulu_series_df2['Country'] = 'Not Available'
hulu_series_df2['Language'] = 'Not Available'
hulu_series_df2['Genre'] = 'Not Available'

In [70]:
hulu_series_df2.head()

,index,Title,Year,Age,IMDb,Type,OTT,Runtime,Country,Language,Genre
0,2,Attack on Titan,2013,NC-17,9.0,Series,Hulu,60,Not Available,Not Available,Not Available
1,11,Community,2009,PG,8.5,Series,Hulu,60,Not Available,Not Available,Not Available
2,13,Shameless,2011,NC-17,8.5,Series,Hulu,60,Not Available,Not Available,Not Available
3,25,Fullmetal Alchemist: Brotherhood,2009,R,9.1,Series,Hulu,60,Not Available,Not Available,Not Available
4,29,Grey's Anatomy,2005,R,7.5,Series,Hulu,60,Not Available,Not Available,Not Available

In [71]:
hulu_series_df2.drop(columns=['index'],inplace=True)

In [72]:
hulu_series_df2.head()

,Title,Year,Age,IMDb,Type,OTT,Runtime,Country,Language,Genre
0,Attack on Titan,2013,NC-17,9.0,Series,Hulu,60,Not Available,Not Available,Not Available
1,Community,2009,PG,8.5,Series,Hulu,60,Not Available,Not Available,Not Available
2,Shameless,2011,NC-17,8.5,Series,Hulu,60,Not Available,Not Available,Not Available
3,Fullmetal Alchemist: Brotherhood,2009,R,9.1,Series,Hulu,60,Not Available,Not Available,Not Available
4,Grey's Anatomy,2005,R,7.5,Series,Hulu,60,Not Available,Not Available,Not Available

In [73]:
hulu_series_df2.to_csv('hulu series cleaned file.csv')

## Read all the cleaned datasets

In [113]:
netflix_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\netflix cleaned data.csv")
disney_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\hotstar cleaned data.csv")
prime_movie_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\Prime cleaned data.csv")
prime_series_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\prime tv cleaned data.csv")
hulu_movie_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\Hulu movies cleaned data.csv")
hulu_series_df = pd.read_csv(r"I:\IBM Hack Challenge - OTT Analysis\Cleaned Dataset\hulu series cleaned file.csv")

In [115]:
netflix_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,Release Date,Netflix Release Date,OTT
0,0,Lets Fight Ghost,2008,7.9,R,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",30,Thailand,Series,12-12-2008,04-03-2021,Netflix
1,1,HOW TO BUILD A GIRL,2020,5.8,R,Comedy,English,120,Canada,Movie,08-05-2020,04-03-2021,Netflix
2,2,Centigrade,2020,4.3,Unrated,"Drama, Thriller",English,120,Canada,Movie,28-08-2020,04-03-2021,Netflix
3,3,ANNE+,2016,6.5,Not Rated,Drama,Turkish,30,"Belgium,Netherlands",Series,01-10-2016,04-03-2021,Netflix
4,4,Moxie,2011,6.3,Not Rated,"Animation, Short, Drama",English,120,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",Movie,22-09-2011,04-03-2021,Netflix

## Combining all datasets into single file

In [116]:
netflix_df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country ', 'Type', 'Release Date',
       'Netflix Release Date', 'OTT'],
      dtype='object')

In [132]:
netflix_df.columns = ['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type', 'Release Date',
       'Netflix Release Date', 'OTT']

In [133]:
netflix_2_df = netflix_df[['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type', 'OTT']].copy()
netflix_2_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,Lets Fight Ghost,2008,7.9,R,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",30,Thailand,Series,Netflix
1,1,HOW TO BUILD A GIRL,2020,5.8,R,Comedy,English,120,Canada,Movie,Netflix
2,2,Centigrade,2020,4.3,Unrated,"Drama, Thriller",English,120,Canada,Movie,Netflix
3,3,ANNE+,2016,6.5,Not Rated,Drama,Turkish,30,"Belgium,Netherlands",Series,Netflix
4,4,Moxie,2011,6.3,Not Rated,"Animation, Short, Drama",English,120,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",Movie,Netflix

In [118]:
disney_df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type', 'Release Date',
       'OTT Release Date', 'OTT'],
      dtype='object')

In [119]:
disney2_df = disney_df[['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type','OTT']].copy()
disney2_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,10 Things I Hate About You,1999,7.3,PG-13,"Comedy, Drama, Romance","English, French",97,USA,movie,Disney+ Hotstar
1,1,101 Dalmatian Street,2019,6.2,Not Rated,"Animation, Comedy, Family",English,81,"UK, USA, Canada",series,Disney+ Hotstar
2,2,101 Dalmatians,1996,5.7,G,"Adventure, Comedy, Crime, Family","English, Spanish",103,"USA, UK",movie,Disney+ Hotstar
3,3,101 Dalmatians 2: Patch's London Adventure,2003,5.8,G,"Animation, Adventure, Comedy, Family, Musical",English,74,USA,movie,Disney+ Hotstar
4,4,102 Dalmatians,2000,4.9,G,"Adventure, Comedy, Family",English,100,"USA, UK",movie,Disney+ Hotstar

In [121]:
prime_movie_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,The Avengers,2012,8.0,PG-13,"Action,Adventure,Sci-Fi","English,Russian,Hindi",143,United States,Movie,Prime Video
1,1,It's a Wonderful Life,1946,8.6,PG,"Drama,Family,Fantasy","English,French",130,United States,Movie,Prime Video
2,2,Downfall,2004,8.2,NC-17,"Biography,Drama,History,War","French,English,German,Russian",156,"Germany,Austria,Italy",Movie,Prime Video
3,3,Sunset Boulevard,1950,8.4,NC-17,"Drama,Film-Noir",English,110,United States,Movie,Prime Video
4,4,Airplane!,1980,7.7,PG,Comedy,English,88,United States,Movie,Prime Video

In [122]:
prime_series_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,Pataal Lok,2020,7.5,NC-17,Drama,Hindi,60,India,Series,Prime Video
1,1,Upload,2020,8.1,R,Sci-fi comedy,English,60,USA,Series,Prime Video
2,2,The Marvelous Mrs. Maisel,2017,8.7,R,"Drama, Comedy",English,60,USA,Series,Prime Video
3,3,Four More Shots Please,2019,5.3,NC-17,"Drama, Comedy",Hindi,60,India,Series,Prime Video
4,4,Fleabag,2016,8.7,NC-17,Comedy,English,60,USA,Series,Prime Video

In [123]:
hulu_movie_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,The Dark Knight,2008,9.0,PG-13,"Action,Crime,Drama,Thriller","English,Mandarin",152,"United States,United Kingdom",Movie,Hulu
1,1,GoodFellas,1990,8.7,NC-17,"Biography,Crime,Drama","English,Italian",146,United States,Movie,Hulu
2,2,Parasite,2019,8.6,NC-17,"Comedy,Drama,Thriller","Korean,English",132,South Korea,Movie,Hulu
3,3,Good Will Hunting,1997,8.3,NC-17,"Drama,Romance",English,126,United States,Movie,Hulu
4,4,The Green Mile,1999,8.6,NC-17,"Crime,Drama,Fantasy,Mystery","English,French",189,United States,Movie,Hulu

In [124]:
hulu_series_df.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,Attack on Titan,2013,9.0,NC-17,Not Available,Not Available,60,Not Available,Series,Hulu
1,1,Community,2009,8.5,PG,Not Available,Not Available,60,Not Available,Series,Hulu
2,2,Shameless,2011,8.5,NC-17,Not Available,Not Available,60,Not Available,Series,Hulu
3,3,Fullmetal Alchemist: Brotherhood,2009,9.1,R,Not Available,Not Available,60,Not Available,Series,Hulu
4,4,Grey's Anatomy,2005,7.5,R,Not Available,Not Available,60,Not Available,Series,Hulu

In [134]:
OTT_final_data_1 = pd.concat([netflix_2_df,disney2_df,prime_movie_df,prime_series_df,hulu_movie_df,hulu_series_df])

In [135]:
OTT_final_data_1.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,OTT
0,0,Lets Fight Ghost,2008,7.9,R,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",30,Thailand,Series,Netflix
1,1,HOW TO BUILD A GIRL,2020,5.8,R,Comedy,English,120,Canada,Movie,Netflix
2,2,Centigrade,2020,4.3,Unrated,"Drama, Thriller",English,120,Canada,Movie,Netflix
3,3,ANNE+,2016,6.5,Not Rated,Drama,Turkish,30,"Belgium,Netherlands",Series,Netflix
4,4,Moxie,2011,6.3,Not Rated,"Animation, Short, Drama",English,120,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",Movie,Netflix

In [138]:
len(OTT_final_data_1)

30829

In [142]:
netflix_df.columns = ['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type', 'Release Date',
       'OTT Release Date', 'OTT']

In [141]:
disney_df.columns

Index(['Unnamed: 0', 'Title', 'Year', 'IMDB Rating', 'Age Restriction',
       'Genre', 'Language', 'Runtime', 'Country', 'Type', 'Release Date',
       'OTT Release Date', 'OTT'],
      dtype='object')

In [143]:
OTT_final_data_2 = pd.concat([netflix_df,disney_df])
OTT_final_data_2.head()

,Unnamed: 0,Title,Year,IMDB Rating,Age Restriction,Genre,Language,Runtime,Country,Type,Release Date,OTT Release Date,OTT
0,0,Lets Fight Ghost,2008,7.9,R,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",30,Thailand,Series,12-12-2008,04-03-2021,Netflix
1,1,HOW TO BUILD A GIRL,2020,5.8,R,Comedy,English,120,Canada,Movie,08-05-2020,04-03-2021,Netflix
2,2,Centigrade,2020,4.3,Unrated,"Drama, Thriller",English,120,Canada,Movie,28-08-2020,04-03-2021,Netflix
3,3,ANNE+,2016,6.5,Not Rated,Drama,Turkish,30,"Belgium,Netherlands",Series,01-10-2016,04-03-2021,Netflix
4,4,Moxie,2011,6.3,Not Rated,"Animation, Short, Drama",English,120,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",Movie,22-09-2011,04-03-2021,Netflix

In [144]:
### Saving the cleaned file
OTT_final_data_1.to_csv('OTT_final_data_1.csv')
OTT_final_data_2.to_csv('OTT_final_data_2.csv')